{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

<form role="form" method="POST">
    <div class="center"><img src="./static/images/man_who_ate128.png">
        <p>Hi {{ current_user.first_name}}!</p>
    	<p>You ate a burger this week!</p>
    	<p> 
    		{{ burger_one.time_eaten | dateformat("%l:%M %a %b %e" ) }}
		</p>
        <p></p>
        <p>Eat another?! &nbsp;&nbsp;<input type="image" src="./static/images/Burger128.png" style="width:20px;height:20px;" alt="Submit"></p>
        <p></p>
        <p>Burger History &nbsp;&nbsp;<a href="{{ url_for('allburgers') }}"><img src="./static/images/bull.png" style="width:20px;height:20px;"></a></p>
        </p>

    </div>
</form>

        {% endblock %}


        <!--Inline loop for Historical burgers 
        {% if historical_burgers_count > 0 %}
        <p>Historical Burgers:</p>
        <p>
            {% for burger in historical_burgers %}
            {{ macros.render_entry(burger) }}
            {% endfor %}
        </p>
        {% endif %}-->