{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

<form role="form" method="POST">
	<div class="topleft"><img src="/static/images/burger_menu_white.png"></div>
    <div class="center"><img src="/static/images/man_who_ate128.png">
        <p>Hi {{ current_user.first_name}}!</p>
    	<p>You ate a burger!</p>
    	<p> 
    		{% for burger in burgers %}
			{{ macros.render_entry(burger) }}
			{% endfor %}
		</p>
    	<p>Eat another?! &nbsp;&nbsp;<input type="image" src="/static/images/Burger128.png" style="width:20px;height:20px;" name="saveForm" class="btTxt submit" id="saveForm"></p>
    </div>
</form>

{% endblock %}


