{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

<form role="form" method="POST">
    <div class="center"><img src="./static/images/cow128.png">
        <p>Hi {{ current_user.first_name}}!</p>
    	<p>You ate {{ burgers_this_week_count }} burgers this week!</p>
    	<p> 
    		{% for burger in burgers_this_week %}
			{{ macros.render_entry(burger) }}
			{% endfor %}
		</p>
        <p>Eat another?! &nbsp;&nbsp;<input type="image" src="./static/images/burger128.png" style="width:20px;height:20px;" alt="Submit"></p>
        {% if historical_burgers_count > 0 %}
        <p>
        <p><a href="{{ url_for('allburgers') }}"><img src="./static/images/bull.png" style="width:20px;height:20px;"></a>&nbsp;&nbsp;Burger History </p>
        </p>
        {% endif %}
    </div>
</form>
{% endblock %}